/*
Emily
*/

#recipe-book-tab{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background:var(--off-white);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column; 
  background: #f4f7f5;
  gap: 10px;
  justify-content: flex-start;
}

#recipe-list {
  display: flex;
  width: 90%;
  height: fit-content;
  border: 2px solid var(--accent-blue-1);
  /*border-radius: var(--border-radius);*/
  color:var(--dark-text);
  flex-direction: column; /* ? */
  justify-content: top;
  border-collapse: collapse;
  gap:20px;
}

th {
  color:var(--dark-text);
  border: 2px solid var(--dark-text);
  margin:auto;

  text-align: left;
}

td {
  color:var(--dark-text);
  border: 2px solid var(--dark-text);
  margin:auto;
  text-align: left;
}

#new-recipe-container{
  height: 8%;
  width: 90%;
  text-align: right; /* for some reason this 
  aligns all children in the container text or not */
  
}

#new-recipe{
  color:var(--off-white);
  background-color: var(--accent-blue-1);
  font-size: 38px;
  width: 9%;
  height: 75%;
 
}
