body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #011627;
}

/* THIS is the tablet */
#device {
  width: 640px;
  height: 960px;
  background: #f4f7f5;
}


h1 {
  font-size: 46px;
  color: #225469;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 20px; /* adjust to align vertically with your back button */
}

/* This is the actual UI area */
#screen {
    
    display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f7f5;
  flex-wrap: wrap;

}

#button-area {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#nav-bar {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 20%;
    background-color: rgb(39, 36, 36);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#first-row {
    display: flex;
    gap: 50px;
}

#second-row {
    display: flex;
    gap: 50px;
}

#fridge-button {
    font-size: 30px;
    border-radius: 15px;
    background-color: #f4f7f5;
    border-color: #225469;
    border-width: 5px;
    height: 210px;
    width: 210px;
}

#nav-buttons {
    border-radius: 8px;
    height: 90%;
    width: 32%
}